<div class="container col-md-6">
   <form (submit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-3">
        <label for="emailId" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" formControlName="email">
        <div id="emailHelp" class="form-text">We'll share your email with any one as we need.</div>
      </div>
      <div class="mb-3">
        <label for="PassId" class="form-label">Password</label>
        <input type="password" class="form-control" id="PassId" formControlName="password">
      </div>
      <button type="submit" id="submitBtn" class="btn btn-primary">Login</button>
    </form>
   
</div>
